<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.DBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\idoze\Desktop\Project\Gyst\DAL\DB.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Client.Properties.Settings>
            <setting name="SavedUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Remember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoggedIn" serializeAs="String">
                <value>False</value>
            </setting>
        </Client.Properties.Settings>
    </userSettings>
</configuration>